.banner {
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    text-align: center;
    padding: 20px;
    height: 60px;
    background-color: #e4e4e4;
    border-style: solid;
    border-width: 1px;
}
