
<div class="profile-top">
    <img src="foo.jpg" alt="your-avatar.jpg"> <div></div>
    <div class="profile-name"><p>User Name: </p><input placeholder="User Name"></div>
    <div class="profile-email"><p>Email: </p><input placeholder="Email"></div>
    <div class="profile-age"><p>Age: </p><input placeholder="Age"></div>
    <div class="profile-gender">Gender: 
        <input type="radio" id="gender-select" value="Male">
        <label for="gender-select">Male</label>

        <input type="radio" id="gender-select" value="Female">
        <label for="gender-select">Female</label>
    </div>
    <div class="profile-password"><p>Password: </p><input placeholder="Password"></div>
    <button>Reveal</button>

    <hr>
    <img src="foo.jpg" alt="amount-of-posts.jpg"> <div>Posts: #</div>

    <img src="bar.jpg" alt="amount-of-likes.jpg"> <div>Likes: #</div>
</div>


<app-router-banner></app-router-banner>