<app-nav-bar></app-nav-bar>
<h2 style="text-align: center; margin: 30px 0px">User Profile Card</h2>

<div class="card">
  <img src="../../../assets/profile.jpeg" alt="John" style="width: 100%" />
  <form [formGroup]="form" class="profile-main" (submit)="onSubmit()">
    <div>
      <label for="username">User Name:</label>
      <input
        formControlName="userName"
        type="text"
        id="username"
        name="username"
        (keyup)="show()"
      />
      <div *ngIf="">Username already been used</div>
    </div>
    <div>
      <label for="password">Password:</label>
      <input
        formControlName="password"
        type="password"
        id="password"
        name="password"
      />
      <div *ngIf="form.get('password')?.errors?.['passwordValidation']">Password must have at least 1 uppercase, 1 lowercase, 1 special character</div>
    </div>
    <div>
      <label for="email">Email:</label>
      <input formControlName="email" type="email" id="email" name="email" />
      <div *ngIf="">password confirm should be the same as password</div>
    </div>
    <app-button text="Save"></app-button>
    <!-- <button>Save</button> -->
  </form>
</div>
