<div class="post-panel">
    Post here
  </div>
  <br><br>
  <mat-drawer-container class="container">
    <mat-drawer #drawer class="sidenav" mode="push">
      <app-like-list></app-like-list>
    </mat-drawer>
  
    <div class="sidenav-content">
      <mat-card class="content-card" *ngFor="let news of allNews">
        <mat-card-header>
          <img mat-card-avatar class="header-image" src="../../../../assets/avatar3.jpeg">
          <mat-card-title>{{ news.publisherName }}</mat-card-title>
          <mat-card-subtitle>{{ news.publishedTime | date :'short' }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image  *ngIf="news.content?.image" src={{news.content.image}} alt="Photos not available">
        <div *ngIf="news.content?.video"> {{news.content.video}} </div>
        <mat-card-content *ngIf="news.content">
          <div>{{ news.content.text }}</div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button>
            <mat-icon aria-label="like it">favorite_border</mat-icon>
        </button>
          <button mat-icon-button>
            <mat-icon aria-label="view comments">comment</mat-icon>
            <!-- use expansion panel to show/hide comments -->
        </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-drawer-container>
  <button mat-fab color="primary" (click)="drawer.toggle()"> 
    <mat-icon>favorite</mat-icon>
  </button>