.container{
    height: auto;
    width: 70%;
    // margin-top: 10%;
  }
  .sidenav{
    width: 60%;;
  }
  .mat-fab{
    position: fixed;
    bottom: 5%;
    right: 5%;
  }
  .post-panel{
    margin-top: 70px;
    margin-left: 10%;
    margin-right: 10%;
    height: 20%;
  }
#photo-upload {
    display: none;
}
.mat-form-field {
  width: 100%;
  padding: 0;
  
  textarea{
    resize: none;
    height: max-content;
    border: none;
  }
}
