<!-- <div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Login</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="loginForm">
                             <div class="form-group pt-3">
                                <div class="input-field" [class.error]="loginForm.controls['username'].dirty && loginForm.hasError('required', 'username')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="username" type="text" placeholder="Username"> 
                                </div>
                             </div>
                             <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required', 'username')" class="text-danger">*Username is required</small>
                             <div class="form-group pt-3">
                                <div class="input-field" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')">
                                    <span class="fa fa-lock p-2"></span>
                                    <input formControlName="password" [type]="type" placeholder="Password">
                                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')" class="text-danger">*Password is required</small>
                            <div class="form-inline fr mt-4">
                                <a id="forget" class="font-weight-bold">Forget Password?</a>
                            </div>
                            <button (click)="onSubmit()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Login</button>
                            <div class="text-center pt-4 text-muted">Don't have account? <a id="forget" routerLink="/signup">Register</a></div>
                        </form>
                    </div> 
                    <div class="mx-3 my-2 py-2 bordert">
                        <div class="text-center py-3">
                            <a href="https://www.instagram.com" target="_blank" class="px-2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUwgsP6leo9FOxWuEjJgnPiuVV-LOwZq6priQ1VfqFJnj1t9C5&s" alt=""> </a>
                            <a href="https://www.google.com" target="_blank" class="px-2"> <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png" alt=""> </a>
                            <a href="https://github.com" target="_blank" class="px-2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIPPlnUnhPRbSLfZr0TctDI3RN7mB7hqw8aqJjMCZaS9NvUQk&s" alt=""> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <mat-card class="bg-white">
                    <mat-card-header>
                        <mat-card-title class="font-weight-bold">Login</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <form [formGroup]="loginForm">
                            <mat-form-field class="pt-3">
                                <mat-label>Username</mat-label>
                                <mat-icon matPrefix>person</mat-icon>
                                <input matInput formControlName="username" type="text" placeholder="Username">
                                <mat-hint *ngIf="
                                loginForm.controls['username'].errors?.['required'] ||
                                loginForm.get('username')?.invalid &&
                                loginForm.get('username')?.touched"
                                >
                                    Username is required
                                </mat-hint>
                            </mat-form-field>
                            <mat-form-field class="pt-3">
                                <mat-label>Password</mat-label>
                                <mat-icon matPrefix>lock</mat-icon>
                                <input matInput formControlName="password" type="password" placeholder="Password">
                                <mat-hint *ngIf="
                                loginForm.controls['password']?.errors?.['minlength']&&
                                loginForm.controls['password']?.invalid &&
                                loginForm.controls['password']?.touched" 
                                >
                                    *Password is required
                                </mat-hint>
                            </mat-form-field>
                            <div class="form-inline fr mt-4">
                                <a id="forget" class="font-weight-bold">Forgot Password?</a>
                            </div>
                            <button mat-raised-button color="primary" class="btn btn-block mt-4 w-100" (click)="onSubmit()">Login</button>
                            <div class="text-center pt-4 text-muted">Don't have account? <a id="forget" routerLink="/signup">Register</a></div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
   