<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <header>
      <h2>AntraShare</h2>
      <input type="text" placeholder="Search" />
      <ul class="icons">
        <li>Home</li>
        <li>Message</li>
        <li>Add</li>
        <li>Navigation</li>
        <li>Like</li>
        <li>Myself</li>
      </ul>
    </header>
    <div class="profile">
      <section class="section_1">
        <img src="assets/imgs/6.jpg" alt="" />
        <div class="details">
          <div class="line_1">
            <span>Mediamodifier</span>
            <a href="">send a message</a>
            <a href="">✓</a>
            <a href="">>>></a>
          </div>
          <div class="line_2">
            <span>1132 Posts</span>
            <span>60K</span>
            <span>4 Following</span>
          </div>
          <div class="introduction">
            <span>Mediamodifier Building Brands</span>
            <span>Product/service</span>
            <span
              >We provide essential tools to help entrepreneurs grow their
              businesses online</span
            >
            <a href="">mediamodifier.com</a>
          </div>
        </div>
      </section>
      <section class="section_2">
        <ul>
          <li>
            <img src="assets/imgs/7.png" alt="" />
            <span>Templates</span>
          </li>
          <li>
            <img src="assets/imgs/8.png" alt="" />
            <span>Templates</span>
          </li>
          <li>
            <img src="assets/imgs/7.png" alt="" />
            <span>Templates</span>
          </li>
          <li>
            <img src="assets/imgs/8.png" alt="" />
            <span>Templates</span>
          </li>
          <li>
            <img src="assets/imgs/7.png" alt="" />
            <span>Templates</span>
          </li>
        </ul>
      </section>
      <section class="section_3">
        <img src="assets/imgs/9.jpg" alt="" />
        <img src="assets/imgs/10.jpg" alt="" />
        <img src="assets/imgs/11.jpg" alt="" />
      </section>
    </div>
  </body>
</html>
