<main class="profile-panel">
  
  <div class="profile-panel__avatar">
    <img src="../../../../assets/avatar1.jpeg" width="80px" height="80px">
    <p>Change profile photo</p>
  </div>
  <form [formGroup]="profileForm" (submit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput name="username" formControlName="username" required>
      <mat-error *ngIf="profileForm.controls['username'].hasError('required')">Please enter your username</mat-error>
      <mat-error *ngIf="profileForm.get('username')?.errors?.['usernameExists']">This username already exists</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput name="email" formControlName="email" required>
      <mat-error *ngIf="profileForm.controls['email'].hasError('required') || profileForm.controls['email'].hasError('email')">Please enter a valid email address</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input [type]="hide ? 'password' : 'text'" matInput name="password" formControlName="password" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="profileForm.controls['password'].hasError('oneUppercase') || profileForm.controls['password'].hasError('oneSpecialChar')">Your password must have at least
      1 uppercase letter and 1 special character</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input [type]="hide ? 'password' : 'text'" matInput [formControl]="passwordConfirm" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="passwordConfirm?.errors?.['passwordsDoNotMatch']">Passwords do not match</mat-error>
    </mat-form-field>
    
    <br><br>
    <mat-form-field appearance="outline">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        <mat-option *ngFor="let g of genders" [value]="g" name="gender">{{g}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Age</mat-label>
      <input type="number" matInput name="age" formControlName="age">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input type="tel" matInput name="phone" formControlName="phone">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      Save
    </button>
  </form>

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon aria-label="See my post">view_module</mat-icon>
      
      </ng-template>
      <div>
        <!-- My post -->
        <app-content-card></app-content-card>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon aria-label="See my likes">favorite</mat-icon>
      </ng-template>
      <div>
        <!-- My likes -->
        <app-content-card></app-content-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</main>
