// * {
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
// }
// body {
//     background-color:  white;
//     header {
//         border-bottom: 1px solid rgba(228, 224, 224, 0.678);
//         display: flex;
//         justify-content: space-evenly;
//         align-items: center;
//         h2 {
//             padding: 1rem;
//         }
//         input {
//             width: 200px;
//             height: 32px;
//             background-color: rgb(228, 224, 224);
//             border-radius: 6px;
//             border: none;
//         }
//         .icons {
//             display: flex;
//             list-style: none;
//             li {
//                 padding: 0.5rem;
//             }
//         }
//     }
//     .profile {
//         margin: 0 10rem;
//         background-color: rgba(230, 227, 227, 0.74);
//         .section_1 {
//             display: flex;
//             padding: 2rem;
//             img {
//                 width: 100px;
//                 height: 100px;
//                 border-radius: 50%;
//                 margin: 2rem;
//             }
//             .details {
//                 .line_1 {
//                     padding-left: 1rem;
//                     a {
//                         padding: 0.5rem;
//                     }
//                 }
//                 .line_2 {
//                     padding: 1rem;
//                     span {
//                         padding-right: 1rem;
//                         font-weight: bold;
//                     }
//                 }
//                 .introduction {
//                     display: flex;
//                     flex-direction: column;
//                     padding: 1rem;
//                     :nth-child(2) {
//                         color: gray;
//                     }
//                 }
//             }
//         }
//         .section_2 {
//             padding-left: 2rem;
//             ul {
//                 display: flex;
//                 li {
//                     list-style: none;
//                     display: flex;
//                     flex-direction: column;
//                     padding: 1rem;
//                     img {
//                         width: 60px;

//                     }
//                 }
//             }
//         }
//         .section_3 {
//             display: flex;
//             justify-content: space-evenly;
//             img {
//                 width: 300px;
//                 padding: 1rem;
//             }
//         }
        
//     }
    
// }
.profile-panel {
    width: 60%;
    margin: auto;
}
.profile-panel__avatar{
    margin-top: 5%;
    margin-bottom: 5%;
    p {
        display: inline-block;
        color: blue;
        margin-left: 5%;
    }
    img{
        border-radius: 50%;
        border: 1px solid lightgray;
    }
}