form {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  width: 75%;
  padding: 20px;
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

:host {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}
