<app-router-banner></app-router-banner>

<app-like-list></app-like-list>

<div class="count-down-banner" [hidden]="isHidden">This will be hidden after 5 seconds</div>

<div class="count-down-banner1" appHideAfterFiveSec>This will also be hidden after 5 seconds by directive</div>


<div class="news-feed">
    <div class="news-post" [formGroup]="newStory">
        <!-- <input aria-label="publishername" formControlName="publisherName" type="text" placeholder="upoiu: publishername"> -->

        <input class="news-post-area" formControlName="content" type="text" placeholder="What's on your mind?">

        <button class="submit-post" type="submit" (click)="onPost()">Submit</button>
    </div>
    <app-news-stories (newLikeList)="addLikeList($event)"></app-news-stories>

</div>