<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>register-page</title>
</head>

<body>
      <div class="register-box">
            <h1>Register</h1>
            <p>Username</p>
            <input type="text" name="" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password">
            <p>Confirm Password</p>
            <input type="password" name="" placeholder="Re-enter Password">
            <p>Email</p>
            <input type="email" name="" placeholder="Enter Email">

            <input type="submit" value='Register'>
            <a href='#'>Already got an account? Login here</a><br>
            <a href='#'>Need Help?</a><br>
      </div>

</body>

</html>