<!-- <div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="p-3 font-weight-bold">Sign Up</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="signUpForm">
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error] = "signUpForm.controls['firstName'].dirty &&  signUpForm.hasError('required', 'firstName')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="firstName" type="text" placeholder="FirstName"> 
                                </div>
                             </div>
                             <small *ngIf="signUpForm.controls['firstName'].dirty &&  signUpForm.hasError('required', 'firstName')" class="text-danger">*Firstname is required</small>
                             <div class="form-group pt-3">
                                <div class="input-field" [class.error] = "signUpForm.controls['lastName'].dirty &&  signUpForm.hasError('required', 'lastName')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="lastName" type="text" placeholder="LastName"> 
                                </div>
                             </div>
                             <small *ngIf="signUpForm.controls['lastName'].dirty &&  signUpForm.hasError('required', 'lastName')" class="text-danger">*Lastname is required</small>
                             <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signUpForm.controls['email'].dirty &&  signUpForm.hasError('required', 'email')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="email" type="text" placeholder="Email"> 
                                </div>
                             </div>
                             <small *ngIf="signUpForm.controls['email'].dirty &&  signUpForm.hasError('required', 'email')" class="text-danger">*Email is required</small>
                             <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signUpForm.controls['userName'].dirty &&  signUpForm.hasError('required', 'userName')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="userName" type="text" placeholder="Username"> 
                                </div>
                             </div>
                             <small *ngIf="signUpForm.controls['userName'].dirty &&  signUpForm.hasError('required', 'userName')" class="text-danger">*Username is required</small>
                             <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signUpForm.controls['password'].dirty &&  signUpForm.hasError('required', 'password')">
                                    <span class="fa fa-lock p-2"></span>
                                    <input formControlName="password" [type]="type" placeholder="Password">
                                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <small *ngIf="signUpForm.controls['password'].dirty &&  signUpForm.hasError('required', 'password')" class="text-danger">*Password is required</small>
                            <button type="submit" class="btn btn-primary btn-block mt-4 w-100" (click)="onSignup()">Sign Up</button>
                            <div class="text-center pt-4 text-muted">Already have account? <a id="forget" routerLink="/login">Login</a></div>
                        </form>
                    </div> 
                    <div class="mx-3 my-2 py-2 bordert">
                        <div class="text-center py-3">
                            <a href="https://www.instagram.com" target="_blank" class="px-2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUwgsP6leo9FOxWuEjJgnPiuVV-LOwZq6priQ1VfqFJnj1t9C5&s" alt=""> </a>
                            <a href="https://www.google.com" target="_blank" class="px-2"> <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png" alt=""> </a>
                            <a href="https://github.com" target="_blank" class="px-2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIPPlnUnhPRbSLfZr0TctDI3RN7mB7hqw8aqJjMCZaS9NvUQk&s" alt=""> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <mat-card class="bg-white">
                    <mat-card-header>
                        <mat-card-title class="font-weight-bold">Sign Up</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <form [formGroup]="signUpForm">
                            <mat-form-field appearance="outline">
                                <mat-label>First Name</mat-label>
                                <input matInput formControlName="firstName" placeholder="FirstName"> 
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Last Name</mat-label>
                                <input matInput formControlName="lastName" placeholder="LastName">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Username</mat-label>
                                <input matInput formControlName="userName" placeholder="Username"> 
                                <mat-error *ngIf="signUpForm.controls['userName'].errors?.['availableUsername']">
                                    *Username is not available
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="email" placeholder="Email"> 
                                <mat-error *ngIf="signUpForm.controls['email'].errors?.['email']">
                                    Please enter a valid email.
                                </mat-error>
                                <mat-error *ngIf="signUpForm.controls['email'].errors?.['availableEmail']">
                                    The email is not available
                                  </mat-error>
                            </mat-form-field>
                            
                            <mat-form-field appearance="outline">
                                <mat-label>Password</mat-label>
                                <input matInput type="password" formControlName="password" placeholder="Password" />
                                <mat-error *ngIf="
                                signUpForm.controls['password'].errors?.['upperCase'] &&
                                signUpForm.controls['password'].errors?.['specialChar']
                                ">
                                  Your password must have: A length of at least 8 characters, 1 uppercase character, 1 lowercase character, 1 special character
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Password Confirmation</mat-label>
                                <input matInput type="password" formControlName="passwordConfirmation" placeholder="Confirm Password" />
                                <mat-error *ngIf="signUpForm.controls['passwordConfirmation'].errors?.['passwordsMatch']">
                                  Please make sure your passwords match.
                                </mat-error>
                            </mat-form-field>

                            <div class="text-center pt-4 text-muted">
                                Already have an account? 
                                <a routerLink="/login" class="text-primary">Sign In</a>
                            </div>
                        </form>
                        <button mat-raised-button color="primary" class="btn btn-block mt-4 w-100" [disabled]="!signUpForm.valid" (click)="onSignup()">Sign Up</button>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>