.admin-page{
    display: flex;
    margin-left: 10%;
    box-sizing: border-box;
    height: 400px;
}
.left-users{
    width: 28%;
}
.middle-spacer {
    flex: 1 1 auto;
}
.right-details{
    width: 70%;
    margin-left: 2%;
    padding: 10px;
}
.users__btn{
    margin-top: 300px;
    margin-left: 30%;
}