<app-top-nav-bar></app-top-nav-bar>
 <main class="admin-page">
    <div class="left-users">
          <mat-list>
             <mat-list-item>
                <img matListItemAvatar src="../../../../assets/avatar1.jpeg" width="30px" height="30px">
                <span matListItemTitle>User1</span>
                <span class="middle-spacer"></span>
                <span matListItemMeta>
                   <button mat-icon-button>
                      <mat-icon>close</mat-icon>
                   </button>
                </span>
             </mat-list-item>
          </mat-list>
          <div class="users__btn">
             <button mat-raised-button color="primary">Add User</button>
          </div>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="right-details">
       <p>Username: <span class="detailed-info__username">name</span></p>
       <p>Password: <span class="detailed-info__password">password</span></p>
       <p>User email: <span class="detailed-info__email">email</span></p>
       <p>Gender: <span class="detailed-info__gender">gender</span></p>
       <p>Age: <span class="detailed-info__age">name</span></p>
    </div>
 </main>