.admin-page{
    display: flex;
    margin-left: 10%;
    box-sizing: border-box;
    // height: 400px;
}
.left-users{
    width: 40%;
    overflow: hidden;
}
.mat-divider{
    margin: 0;
    height: auto;
}
.middle-spacer {
    flex: 1 1 auto;
}
.right-details{
    width: 60%;
    margin-left: 2%;
    padding: 10px;
    margin-top: 20%;
}
.users__btn{
    margin-top: 100px;
    margin-left: 30%;
}
.view-user:hover{
    cursor: pointer;
}