<app-top-nav-bar></app-top-nav-bar>
 <main class="admin-page">
    <div class="left-users">
          <mat-list>
             <mat-list-item *ngFor="let user of users;">
                <img matListItemAvatar src="../../../../assets/avatar1.jpeg" width="30px" height="30px"
                (click)="getProfile(user.userName)" class="view-user">
                <span matListItemTitle (click)="getProfile(user.userName)" class="view-user">{{ user.userName }}</span>
                <span class="middle-spacer"></span>
                <span matListItemMeta>
                   <button mat-icon-button>
                      <mat-icon>close</mat-icon>
                   </button>
                </span>
             </mat-list-item>
          </mat-list>
          <div class="users__btn">
             <button mat-raised-button color="primary">Add User</button>
          </div>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="right-details" *ngIf="user == undefined">
      To view detail information of a user, click on username or avatar.
    </div>
    <div class="right-details" *ngIf="user != undefined">
       <p>Username: <span class="detailed-info__username">{{user.userName}}</span></p>
       <p>Password: <span class="detailed-info__password">{{user.password}}</span></p>
       <p>User email: <span class="detailed-info__email">{{user.userEmail}}</span></p>
       <p>Gender: <span class="detailed-info__gender">{{user.gender}}</span></p>
       <p>Age: <span class="detailed-info__age">{{user.age}}</span></p>
    </div>
 </main>