div.container {
    width: 60%;
    padding: 20px 40px;
    border-radius: 6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
:host {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}


.top-container ul {
    list-style-type: none;
    margin: 10px 0px;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}
.top-container li {
    float:left ; 
    margin: 0px 5px;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size:cover;
}
.userName {
    font-size: 1.5em;
}
.publishTime{
    color:darkgrey;
}

.mid-container {
    margin: 20px 0px;
    font-size: 1.2em;
}
.mid-container img {
    object-fit:cover;
    width: 100%;
    margin-bottom: 10px;
}


div.btm-container{
    display: block;
}
.btm-container ul {
    display: flex;
    justify-content: space-around;
}
.btm-container li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 10px 0px;
    cursor: pointer;
}
mat-icon {
    margin: 0px 5px;
}


.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }