<div class="container" *ngFor="let news of newsList">
    <div class="top-container">
        <ul>
            <li><div class="avatar"></div></li>
            <li class="userName">{{news.publisherName}}</li>
            <li class="publishTime">{{news.publishedTime | date }}</li>
        </ul>
    </div>
    <div class="mid-container">
        <img src={{news?.content?.image}}>
        <p>{{news?.content?.text}}</p>
    </div>
    <div class="btm-container">
        <ul>
            <li><mat-icon>comment</mat-icon> <span>{{news?.comment?.length}}</span></li>
            <li [style.color]="news?.liked" (click)="likes(news)"
            ><mat-icon>favorite</mat-icon><span>{{news?.likedIdList?.length}}</span></li>
        </ul>
    </div>  
</div>