<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <!-- <header>
      <h1>Antrashare</h1>
      <div class="iconlist">
        <span class="icon add">Add</span>
        <span class="icon like">Like</span>
        <span class="icon message">Message</span>
      </div>
    </header> -->
    <app-top-nav-bar></app-top-nav-bar>
    <div class="live">
      <div>
        <img src="assets/imgs/1.jpg" alt="" />
        <span>Leoni_tu</span>
      </div>
      <div>
        <img src="assets/imgs/2.jpg" alt="" />
        <span>Katarina</span>
      </div>
      <div>
        <img src="assets/imgs/3.jpg" alt="" />
        <span>Brandon</span>
      </div>
      <div>
        <img src="assets/imgs/4.jpg" alt="" />
        <span>Stephen</span>
      </div>
    </div>
    <div class="recent_blog">
      <div class="user">
        <div class="user-top">
          <div class="user-left">
            <img src="assets/imgs/2.jpg" alt="" />
            <span class="username">Katarina</span>
          </div>

          <a href="">......</a>
        </div>

        <img src="assets/imgs/5.jpg" alt="" class="blog-img" />
      </div>
    </div>
    <footer>
      <span class="home">Home</span>
      <span class="find">Find</span>
      <span class="video">Video</span>
      <span class="shopping">Shopping</span>
      <span class="like">Like</span>
    </footer>
  </body>
</html>
