<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <app-top-nav-bar></app-top-nav-bar>
    <!-- <div *ngIf="expression"></div> -->

    <div class="content">
      <div class="left_section">
        <div class="blogs" *ngFor="let singleNew of news">
          <div class="user">
            <div class="user-top">
              <div class="user-left">
                <span class="username"
                  ><b>{{ singleNew.publisherName }}</b></span
                >
              </div>
              <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu"
                class="menu_button"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span>Redial</span>
                </button>
                <button mat-menu-item disabled>
                  <mat-icon>voicemail</mat-icon>
                  <span>Check voice mail</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Disable alerts</span>
                </button>
              </mat-menu>
            </div>

            <img
              [src]="singleNew.content.image"
              onerror="this.src='assets/imgs/1.jpg';"
              alt=""
              class="blog-img"
            />
            <div class="post_details">
              <div class="icons">
                <div class="left_icons">
                  <a (click)="onItemClick(singleNew)"
                    ><fa-icon
                      [icon]="heart"
                      [ngClass]="{ green: toggle, red: !toggle }"
                    ></fa-icon
                  ></a>
                </div>
              </div>
              <span class="live_numbers">
                Liked by <b>you</b> and
                <b>{{ singleNew.comment.length }}</b> others
              </span>

              <button class="comments" (click)="viewMore = !viewMore">
                View all {{ singleNew.likedIdList.length }} comments
              </button>
              <div class="comments_content">
                <div *ngIf="viewMore">
                  <div *ngFor="let singleComment of singleNew.comment">
                    {{ singleComment.publisherName }}:
                    {{ singleComment.content.text }}<br />
                    {{ singleComment.publishedTime | date }}
                  </div>
                </div>
              </div>
              <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Add a comment ...</mat-label>
                  <input matInput />
                  <button matSuffix>Publish</button>
                </mat-form-field>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
