<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="panel-left">
    <div class="user-list">
      <li>User 1<mat-icon class="delete-icon">delete</mat-icon></li>
      <li>User 2<mat-icon class="delete-icon">delete</mat-icon></li>
      <li>User 3<mat-icon class="delete-icon">delete</mat-icon></li>
    </div>
    <app-button text="Add user"></app-button>
  </div>
  <div class="panel-right">
    <div class="user-detail-title">User detail info panel</div>
    <div class="user-detail">
      <li>Name: Sam Liao</li>
      <li>Password: sam123</li>
      <li>Email: sam@gmail.com</li>
      <li>Age: 20</li>
      <li>Gender: Male</li>
    </div>
  </div>
</div>
