<div class="admin-page">
    <div class="users-list">
        <ul *ngFor="let user of users">
            <li>{{user.userName}} <button>Delete</button></li>
        </ul>
        <button class="add-user-button">Add User Button</button>
    </div>
    <div class="user-info-panel">
        <ul>
            <li>Username:Name</li>
            <li>Password:password</li>
            <li>UserEmail:Email</li>
            <li>Gender:gender</li>
            <li>Age:age</li>
        </ul>
    </div>
</div>
<app-router-banner></app-router-banner>

