button {
  font-size: 20px;
  margin-top: 10px;
  padding: 6px;
  color: whitesmoke;
  background-color: #04aa6d;
  border: none;
  width: 100%;
}
button:hover {
  background-color: #048656;
  cursor: pointer;
}
