// recommandations: 
//    display: flex-box
//    use percentage, min-width

.count-down-banner {
    margin: 0 auto;
    width: 50%;
    background-color: yellow;
    height: 100px;
    z-index: 1;

}

.news-feed {
    display: block;
    margin: 0 auto;
    width: 50%;

    .news-post {
        display: inline-block;
        margin-top: 20px;
        min-width: 400px;
        width: 100%;
        height: 160px;
        background-color: aliceblue;
        border: 1px solid black;
    }

    .news-post-area {
        margin: 20px;
        min-width: 350px;
        width: 90%;
        height: 80px;
    }

    .submit-post {
        display: block;
        margin-left: 20px;

    }

}
