<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>login-page</title>
</head>

<body>
      <div class="login-box">
            <h1>Login</h1>
            <p>Username</p>
            <input type="text" name="" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password">
            <input type="submit" value='Login'>
            <a href='#'>No Accounts? Register Now!</a><br>
            <a href='#'>Need Help?</a><br>
      </div>


</body>

</html>