<body>
  <form class="main-page" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <img src="assets/antrashare.png" />

    <div>
      <input
        formControlName="userEmail"
        class="text"
        type="email"
        placeholder="Email"
      />
    </div>
    <span *ngIf="loginForm.controls['userEmail'].hasError('nonexist')">
      user email doesn't exist
    </span>
    <div>
      <input
        formControlName="password"
        class="password"
        type="password"
        placeholder="Password"
      />
    </div>
    <span *ngIf="loginForm.controls['password'].hasError('minlength')">
      Name must be at least 8 characters long.
    </span>

    <span *ngIf="successLogin.hasError('error')">
      Unmatch password with given user name
    </span>

    <button type="sumbit" [disabled]="loginForm.invalid">Login</button>

    <button [routerLink]="['/register']" routerLinkActive="active">
      No Accounts? Register Now!
    </button>
  </form>
</body>
