<body>
<div class="main-page">
    <img src="assets/antrashare.png">
    
    <div><input class="text" type="text" placeholder="User Name"></div>
    
    
    <div><input class="password" type="password" placeholder="Password"></div>

    <button>Login</button>

    <p><u>No Accounts? Register Now!</u></p>

    <div class="agree">
        <div class="checkbox">
            <input type="checkbox" id="agree" name="agree" value="agree">
            <label for="agree">Agreement</label>
        </div>
     
        <p class="help"><u>Need Help?</u></p>
    </div>
    

</div>
</body>