$primary_color: #fff;
$secondary_color: #000;
$tertiary_color: darkgray;
$hover_color: rgb(250, 218, 76);
$font-family_1: sans-serif;
$background-color_1: white;
$background-color_2: rgb(94, 124, 222);
$background-color_3: rgb(250, 218, 76);

.login-box {
	width: 350px;
	height: 470px;
	background: #000;
	color: $primary_color;
	top: 50%;
	left: 50%;
	position: absolute;  //not preferable: use flex-box instead
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 20px 20px;
	label {
		margin: 0;
		padding: 0;
		font-weight: bold;
	}
	input {
		width: 100%;
		margin-bottom: 20px;
		color: $primary_color;
		border: none;
		height: 35px;
		border-bottom: 1px solid #fff;
		background: transparent;
		outline: none;
	}
	a {
		text-decoration: none;
		font-size: 12px;
		line-height: 20px;
		color: $tertiary_color;
		&:hover {
			color: $hover_color;
		}
	}
}
h1 {
	margin: 0;
	padding: 20px 0 20px 0;
	text-align: center;
	font-size: 22px;
}
.loginButton {
	width: 100%;
	margin-bottom: 20px;
	border: none;
	outline: none;
	height: 35px;
	background-color: $background-color_2;
	color: $primary_color;
	font-size: 20;
	border-radius: 20px;
	&:hover {
		cursor: pointer;
		background-color: $background-color_3;
		color: $secondary_color;
	}
}