<!-- <app-data-binding></app-data-binding> -->

<!-- <router-outlet></router-outlet> -->
<!-- <app-user-forms></app-user-forms> -->
<!-- <app-test-a></app-test-a>
<app-test-b></app-test-b> -->

<!-- <app-life-cycle [color]="parentColor"></app-life-cycle> -->
<!-- <button (click)="changeColor()">change Color</button> -->
<!-- <app-validators></app-validators> -->
<!-- <app-login-page></app-login-page> -->
<router-outlet name="primary"></router-outlet>
<router-outlet name="secondary"></router-outlet>

