.setting-panel{
    margin: auto;
    width: 50%;
    padding: 10px;
    .setting-content {
            width: 800px;
            height: 800px;
            background-color: antiquewhite;
            font-size: xx-small;
        }
}


